{% load custom_filters %}

<div class="filtros_formulario processadores">
    <h3>Filtros</h3>
    <br/>
    <form method='get' action='.'>
      <div class="input-group">
    <h5>Selecione um modelo:</h5>
    <select id="select-modelo" name="select-modelo" >
    <optgroup label="Intel 12º Gen">
      <option value="12100F">Processadores Core i3</option>
      <option value="12400,12400F,12600K,12600KF">Processadores Core i5</option>
      <option value="12700,12700K,12700F,12700KF">Processadores Core i7</option>
      <option value="12900,12900K,12900KF">Processadores Core i9</option>
    <optgroup label="Intel 13º Gen">
      <option value="13100,13100f,13100F">Processadores Core i3</option>
      <option value="13400,13400f,13400F,13400KF,13600K,13600KF">Processadores Core i5</option>
      <option value="13700,13700F,13700f,13700K">Processadores Core i7</option>
      <option value="13900,13900F,13900K,13900KS,13900KF">Processadores Core i9</option>
    <optgroup label="Ryzen 5xxx">
      <option value="5500,5600G,5600,5600X">Processadores Ryzen 5</option>
      <option value="5700,5700x,5700X,5700g,5700G,5800,5800X,5800x,5800X3D">Processadores Ryzen 7</option>
      <option value="5900X,5950X">Processadores Ryzen 9</option>
    <optgroup label="Ryzen 7xxx">
      <option value="7500,7600G,7600,7600X">Processadores Ryzen 5</option>
      <option value="7700,7700x,7700X,7700g,7700G,7800,7800X,7800x,7800X3D">Processadores Ryzen 7</option>
      <option value="7900,7900X,7950X,7900X3D,7950X3D">Processadores Ryzen 9</option>
    </optgroup>
    </select>
    <br/>
    <br/>
    <div class="input-group">
    <h5>Selecione uma loja:</h5>
    <select id="select-loja" name="select-loja">
        <option value="">Todas as lojas</option>
        <option value="Kabum">KabuM</option>
        <option value="Pichau">Pichau</option>
    </select>
    <br/><br/>
    <button type='submit'>Filtrar</button>
</form>
</div>
    
    <div id="tabela-de-dados"></div>
    <table>
      <thead>
          <tr>
              <th>Marca</th>
              <th>Loja</th>
              <th>Preço</th>
              <th>Valor do preço a prazo</th>
          </tr>
      </thead>
      <tbody>
          {% for resultado in resultados %}
          <tr>
              <td><a href="{{ resultado.url_marca }}" target="_blank">{{ resultado.marca }}</a></td>
              <td>{{ resultado.loja }}</td>
              <td>R${{ resultado.preco|floatformat:2|format_price }}</td>
              <td>R${{ resultado.valor_preco_prazo|floatformat:2|format_price }}</td>        
          </tr>
          {% endfor %}
      </tbody>
    </table>