<div class="filtros_formulario processadores">
    <h3>Filtros</h3>
    <br/>
    <form>
    <h5>Selecione um modelo:</h5>
    <select id="select-modelo" name="select-modelo" onchange="carregarDados()">
    <optgroup label="Intel 10º Gen">
      <option value="Intel 10gen i3">Processadores Core i3</option>
      <option value="Intel 10gen i5">Processadores Core i5</option>
      <option value="Intel 10gen i7">Processadores Core i7</option>
      <option value="Intel 10gen i9">Processadores Core i9</option>
    <optgroup label="Intel 11º Gen">
      <option value="Intel 11gen i5">Processadores Core i5</option>
      <option value="Intel 11gen i7">Processadores Core i7</option>
      <option value="Intel 11gen i9">Processadores Core i9</option>
    <optgroup label="Intel 12º Gen">
      <option value="Intel 12gen i3">Processadores Core i3</option>
      <option value="Intel 12gen i5">Processadores Core i5</option>
      <option value="Intel 12gen i7">Processadores Core i7</option>
      <option value="Intel 12gen i9">Processadores Core i9</option>
      <optgroup label="Intel 13º Gen">
        <option value="Intel 13gen i5">Processadores Core i5</option>
        <option value="Intel 13gen i7">Processadores Core i7</option>
        <option value="Intel 13gen i9">Processadores Core i9</option>
        <optgroup label="Ryzen 3 (3xxx)">
          <option value="Ryzen 3xxx r3">Processadores Ryzen 3</option>
          <option value="Ryzen 3xxx r5">Processadores Ryzen 5</option>
          <option value="Ryzen 3xxx r7">Processadores Ryzen 7</option>
    </optgroup>
    </select>
    </form>
    </div>
    
    <div id="tabela-de-dados"></div>
        <table>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>