{% load static %}
<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/images/favicon.png" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'global/css/global-style.css' %}">
    <link rel="stylesheet" href="{% static 'global/js/global-javascript.js' %}">
    <title>A melhor seleção de processadores (CPU) para sua configuração</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/placasdevideo/">Placas de Vídeo</a></li>
      <li><a href="/processadores/">Processadores</a></li>
      <li><a href="/placamae">Placa Mãe</a></li>
      <li><a href="/memoria">Memórias</a></li>
      <li><a href="/ssd">SSD/HD</a></li>
      <li><a href="/fontes">Fontes</a></li>
      <li><a href="/coolers">Coolers</a></li>
      <li id="contact_menu_right" class="menu-right">
        <a href="/duvidas">Dúvidas ou Sugestões?</a>
      </li>
    </ul>
  </nav>