{% load custom_filters %}


<div class="filtros_formulario placadevideo">
  <form method='get' action='.'>
    <div class="input-group">
      <label for="select-modelo">
        <h5>Selecione um modelo:</h5>
      </label>
      <select id="select-modelo" name="select-modelo" class="select-menu">
        <option value="">Todas as placas de vídeo</option>
      <optgroup label="Nvidia">
        <option value="RTX 4090" {% if selecionados.modelo == 'RTX 4090' %}selected{% endif %}>RTX 4090</option>
        <option value="RTX 4080" {% if selecionados.modelo == 'RTX 4080' %}selected{% endif %}>RTX 4080</option>
        <option value="RTX 4070 ti" {% if selecionados.modelo == 'RTX 4070 ti' %}selected{% endif %}>RTX 4070ti</option>
        <option value="RTX 4070" {% if selecionados.modelo == 'RTX 4070' %}selected{% endif %}>RTX 4070</option>
        <option value="RTX 3090 ti" {% if selecionados.modelo == 'RTX 3090 ti' %}selected{% endif %}>RTX 3090ti</option>
        <option value="RTX 3090" {% if selecionados.modelo == 'RTX 3090' %}selected{% endif %}>RTX 3090</option>
        <option value="RTX 3080 ti" {% if selecionados.modelo == 'RTX 3080 ti' %}selected{% endif %}>RTX 3080ti</option>
        <option value="RTX 3080" {% if selecionados.modelo == 'RTX 3080' %}selected{% endif %}>RTX 3080</option>
        <option value="RTX 3070 ti" {% if selecionados.modelo == 'RTX 3070 ti"' %}selected{% endif %}>RTX 3070ti</option>
        <option value="RTX 3070" {% if selecionados.modelo == 'RTX 3070' %}selected{% endif %}>RTX 3070</option>
        <option value="RTX 3060 ti" {% if selecionados.modelo == 'RTX 3060 ti' %}selected{% endif %}>RTX 3060ti</option>
        <option value="RTX 3060" {% if selecionados.modelo == 'RTX 3060' %}selected{% endif %}>RTX 3060</option>
        <option value="RTX 3050" {% if selecionados.modelo == 'RTX 3050' %}selected{% endif %}>RTX 3050</option>
        <option value="RTX 2060" {% if selecionados.modelo == 'RTX 2060' %}selected{% endif %}>RTX 2060</option>
        <option value="GTX 1660" {% if selecionados.modelo == 'GTX 1660' %}selected{% endif %}>GTX 1660/Super/Ti</option>
        <option value="GTX 1650" {% if selecionados.modelo == 'GTX 1650' %}selected{% endif %}>GTX 1650</option>
        <option value="GTX 1630" {% if selecionados.modelo == 'GTX 1630' %}selected{% endif %}>GTX 1630</option>
      <optgroup label="AMD">
        <option value="RX 7900 XT" {% if selecionados.modelo == 'RX 7900 XT' %}selected{% endif %}>RX 7900XT/XTX</option>
        <option value="RX 6900 XT" {% if selecionados.modelo == 'RX 6900 XT' %}selected{% endif %}>RX 6900/50XT</option>
        <option value="RX 6800" {% if selecionados.modelo == 'RX 6800' %}selected{% endif %}>RX 6800/XT</option>
        <option value="RX 6750 XT" {% if selecionados.modelo == 'RX 6750 XT' %}selected{% endif %}>RX 6750XT</option>
        <option value="RX 6700 XT" {% if selecionados.modelo == 'RX 6700 XT' %}selected{% endif %}>RX 6700XT</option>
        <option value="RX 6650 XT" {% if selecionados.modelo == 'RX 6650 XT' %}selected{% endif %}>RX 6650XT</option>
        <option value="RX 6600" {% if selecionados.modelo == 'RX 6600' %}selected{% endif %}>RX 6600/XT</option>
        <option value="RX 6500 XT" {% if selecionados.modelo == 'RX 6500 XT' %}selected{% endif %}>RX 6500XT</option>
        <option value="RX 6400" {% if selecionados.modelo == 'RX 6400' %}selected{% endif %}>RX 6400</option>
      </optgroup>
    </select>
  </div>

    <div class="input-group">
      <label for="select-loja">
        <h5>Selecione uma loja:</h5>
      </label>
      <select id="select-loja" name="select-loja" class="select-menu">
        <option value="">Todas as lojas</option>
        <option value="KabuM" {% if selecionados.loja == 'KabuM' %}selected{% endif %}>KabuM</option>
        <option value="Pichau" {% if selecionados.loja == 'Pichau' %}selected{% endif %}>Pichau</option>
        <option value="Terabyte" {% if selecionados.loja == 'Terabyte' %}selected{% endif %}>Terabyte</option>
        <option value="AlligatorShop" {% if selecionados.loja == 'AlligatorShop' %}selected{% endif %}>AlligatorShop</option>
        <option value="FGTEC" {% if selecionados.loja == 'FGTEC' %}selected{% endif %}>FGTEC</option>
        <option value="GabiGames" {% if selecionados.loja == 'GabiGames' %}selected{% endif %}>GabiGames</option>
        <option value="GKInfoStore" {% if selecionados.loja == 'GKInfoStore' %}selected{% endif %}>GKInfoStore</option>
        <option value="Guerra Digital" {% if selecionados.loja == 'Guerra Digital' %}selected{% endif %}>Guerra Digital</option>
        <option value="INPOWER" {% if selecionados.loja == 'INPOWER' %}selected{% endif %}>INPOWER</option>
        <option value="ITXGamer" {% if selecionados.loja == 'ITXGamer' %}selected{% endif %}>ITXGamer</option>
        <option value="PatoLoco" {% if selecionados.loja == 'PatoLoco' %}selected{% endif %}>PatoLoco</option>
      </select>
  </div>

    <br>
    <button type='submit'>Filtrar</button>
  </form>
</div>
    
<div id="tabela-de-dados"></div>
<table>
  <thead>
      <tr>
          <th>Marca</th>
          <th>Loja</th>
          <th>Preço</th>
          <th>Valor do preço a prazo</th>
      </tr>
  </thead>
  <tbody>
      {% for resultado in resultados %}
      <tr>
          <td><a href="{{ resultado.url_marca }}" target="_blank">{{ resultado.marca }}</a></td>
          <td>{{ resultado.loja }}</td>
          <td>R${{ resultado.preco|floatformat:2|format_price }}</td>
          <td>R${{ resultado.valor_preco_prazo|floatformat:2|format_price }}</td>        
      </tr>
      {% empty %}
      <tr>
          <td colspan="4">Nenhum modelo foi encontrado no banco de dados. &#128557;</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<div class="pagination">
  {% if resultados.has_previous %}
    <a href="?page={{ resultados.previous_page_number }}{% if selecionados.modelo %}&select-modelo={{ selecionados.modelo }}{% endif %}{% if selecionados.loja %}&select-loja={{ selecionados.loja }}{% endif %}" class="page-link">&laquo;</a>
  {% else %}
    <span class="page-link disabled">&laquo;</span>
  {% endif %}

  {% for i in pags_visiveis %}
    {% if i == '...' %}
      <span class="page-link disabled">...</span>
    {% else %}
      {% if resultados.number == i %}
        <span class="page-link active">{{ i }}</span>
      {% else %}
        <a href="?page={{ i }}{% if selecionados.modelo %}&select-modelo={{ selecionados.modelo }}{% endif %}{% if selecionados.loja %}&select-loja={{ selecionados.loja }}{% endif %}" class="page-link">{{ i }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if resultados.has_next %}
    <a href="?page={{ resultados.next_page_number }}{% if selecionados.modelo %}&select-modelo={{ selecionados.modelo }}{% endif %}{% if selecionados.loja %}&select-loja={{ selecionados.loja }}{% endif %}" class="page-link">&raquo;</a>
  {% else %}
    <span class="page-link disabled">&raquo;</span>
  {% endif %}
</div>