{% load static %}
<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/images/favicon.png" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'global/css/global-style.css' %}">
    <link rel="stylesheet" href="{% static 'global/js/global-javascript.js' %}">
    <title>Os melhores preços em - Placas de Video</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9767790232960458"
     crossorigin="anonymous"></script>
</head>

<body>
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/placasdevideo/">Placas de Video</a></li>
        <li><a href="/processadores/">Processadores</a></li>
        <li><a href="/placamae">Placa Mãe</a></li>
        <li><a href="/memoria">Memórias</a></li>
        <div id="contact_menu_right" class="menu-right">
            <ul>
              <li><a href="/duvidas">Dúvidas ou Sugestões?</a></li>
            </ul>
          </div>
    </ul>
    </nav>
