{% load custom_filters %}

<div class="formulario_busca">
  <form method="GET" action="{% url 'search_motherboards' %}">
    <div class="input-group">
      <h5>Encontre uma placa mãe ou chipset específico:</h5>
      <input type="text" name="q" placeholder="Digite o modelo desejado">
      <button type="submit" class="botao_busca">Buscar</button>
    </div>
  </form>
</div>

<div class="filtros_formulario processador">
  <form method='get' action='.'>
    <div class="input-group">
      <label for="select-modelo">
        <h5>Selecione um modelo:</h5>
      </label>
      <select id="select-modelo" name="select-modelo" class="select-menu">
        <option value="">Todas as placas mãe</option>
      <optgroup label="Intel Chipset">
        <option value="B360" class="intel" {% if selecionados.modelo == 'B360' %}selected{% endif %}>B360</option>
        <option value="B365" class="intel" {% if selecionados.modelo == 'B365' %}selected{% endif %}>B365</option>
        <option value="B460" class="intel" {% if selecionados.modelo == 'B460' %}selected{% endif %}>B460</option>
        <option value="B550" class="intel" {% if selecionados.modelo == 'B550' %}selected{% endif %}>B550</option>
        <option value="B560" class="intel" {% if selecionados.modelo == 'B560' %}selected{% endif %}>B560</option>
        <option value="B660" class="intel" {% if selecionados.modelo == 'B660' %}selected{% endif %}>B660</option>
        <option value="B760" class="intel" {% if selecionados.modelo == 'B760' %}selected{% endif %}>B760</option>
        <option value="H110" class="intel" {% if selecionados.modelo == 'H110' %}selected{% endif %}>H110</option>
        <option value="H310" class="intel" {% if selecionados.modelo == 'H310' %}selected{% endif %}>H310</option>
        <option value="H410" class="intel" {% if selecionados.modelo == 'H410' %}selected{% endif %}>H410</option>
        <option value="H470" class="intel" {% if selecionados.modelo == 'H470' %}selected{% endif %}>H470</option>
        <option value="H510" class="intel" {% if selecionados.modelo == 'H510' %}selected{% endif %}>H510</option>
        <option value="H570" class="intel" {% if selecionados.modelo == 'H570' %}selected{% endif %}>H570</option>
        <option value="H610" class="intel" {% if selecionados.modelo == 'H610' %}selected{% endif %}>H610</option>
        <option value="H670" class="intel" {% if selecionados.modelo == 'H670' %}selected{% endif %}>H670</option>
        <option value="Z390" class="intel" {% if selecionados.modelo == 'Z390' %}selected{% endif %}>Z390</option>
        <option value="Z490" class="intel" {% if selecionados.modelo == 'Z490' %}selected{% endif %}>Z490</option>
        <option value="Z590" class="intel" {% if selecionados.modelo == 'Z590' %}selected{% endif %}>Z590</option>  
        <option value="Z690" class="intel" {% if selecionados.modelo == 'Z690' %}selected{% endif %}>Z690</option>  
        <option value="Z790" class="intel" {% if selecionados.modelo == 'Z790' %}selected{% endif %}>Z790</option>
      <optgroup label="AMD Chipset">
        <option value="A320" class="amd" {% if selecionados.modelo == 'A320' %}selected{% endif %}>A320</option>
        <option value="A520" class="amd" {% if selecionados.modelo == 'A520' %}selected{% endif %}>A520</option>
        <option value="B450" class="amd" {% if selecionados.modelo == 'B450' %}selected{% endif %}>B450</option>
        <option value="B550" class="amd" {% if selecionados.modelo == 'B550' %}selected{% endif %}>B550</option>
        <option value="B650" class="amd" {% if selecionados.modelo == 'B650' %}selected{% endif %}>B650</option>
        <option value="TRX40" class="amd" {% if selecionados.modelo == 'TRX40' %}selected{% endif %}>TRX40</option>
        <option value="X370" class="amd" {% if selecionados.modelo == 'X370' %}selected{% endif %}>X370</option>
        <option value="X470" class="amd" {% if selecionados.modelo == 'X470' %}selected{% endif %}>X470</option>
        <option value="X570" class="amd" {% if selecionados.modelo == 'X570' %}selected{% endif %}>X570</option>
        <option value="X670" class="amd" {% if selecionados.modelo == 'X670' %}selected{% endif %}>X670</option>
      </optgroup> 
    </select>
  </div>

  <div class="input-group">
    <label for="select-loja">
      <h5>Selecione uma loja:</h5>
    </label>
    <select id="select-loja" name="select-loja" class="select-menu">
        <option value="">Todas as lojas</option>
        <option value="Kabum" {% if selecionados.loja == 'Kabum' %}selected{% endif %}>Kabum</option>
        <option value="Pichau" {% if selecionados.loja == 'Pichau' %}selected{% endif %}>Pichau</option>
        <option value="Terabyte" {% if selecionados.loja == 'Terabyte' %}selected{% endif %}>Terabyte</option>
        <option value="AlligatorShop" {% if selecionados.loja == 'AlligatorShop' %}selected{% endif %}>AlligatorShop</option>
        <option value="FGTEC" {% if selecionados.loja == 'FGTEC' %}selected{% endif %}>FGTEC</option>
        <option value="Gabi Games" {% if selecionados.loja == 'Gabi Games' %}selected{% endif %}>Gabi Games</option>
        <option value="GKInfoStore" {% if selecionados.loja == 'GKInfoStore' %}selected{% endif %}>GKInfoStore</option>
        <option value="Guerra Digital" {% if selecionados.loja == 'Guerra Digital' %}selected{% endif %}>Guerra Digital</option>
        <option value="INPOWER" {% if selecionados.loja == 'INPOWER' %}selected{% endif %}>INPOWER</option>
        <option value="ITXGamer" {% if selecionados.loja == 'ITXGamer' %}selected{% endif %}>ITXGamer</option>
        <option value="PatoLoco" {% if selecionados.loja == 'PatoLoco' %}selected{% endif %}>PatoLoco</option>
      </select>
    </div>

    <br>
    <button type='submit'>Filtrar</button>
  </form>
</div>


    
    <div id="tabela-de-dados"></div>
    <table>
      <thead>
          <tr>
              <th>Marca</th>
              <th>Loja</th>
              <th>Preço</th>
              <th>Valor do preço a prazo</th>
          </tr>
      </thead>
      <tbody>
          {% for resultado in resultados %}
          <tr>
              <td><a href="{{ resultado.url_marca }}" target="_blank">{{ resultado.marca }}</a></td>
              <td>{{ resultado.loja }}</td>
              <td>R${{ resultado.preco|floatformat:2|format_price }}</td>
              <td>R${{ resultado.valor_preco_prazo|floatformat:2|format_price }}</td>        
          </tr>
          {% empty %}
          <tr>
              <td colspan="4">Nenhum modelo foi encontrado no banco de dados. &#128557;</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>

<div class="pagination">
  {% if resultados.has_previous %}
    <a href="?page={{ resultados.previous_page_number }}{% if selecionados.modelo %}&select-modelo={{ selecionados.modelo }}{% endif %}{% if selecionados.loja %}&select-loja={{ selecionados.loja }}{% endif %}" class="page-link">&laquo;</a>
  {% else %}
    <span class="page-link disabled">&laquo;</span>
  {% endif %}

  {% for i in pags_visiveis %}
    {% if i == '...' %}
      <span class="page-link disabled">...</span>
    {% else %}
      {% if resultados.number == i %}
        <span class="page-link active">{{ i }}</span>
      {% else %}
        <a href="?page={{ i }}{% if selecionados.modelo %}&select-modelo={{ selecionados.modelo }}{% endif %}{% if selecionados.loja %}&select-loja={{ selecionados.loja }}{% endif %}" class="page-link">{{ i }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if resultados.has_next %}
    <a href="?page={{ resultados.next_page_number }}{% if selecionados.modelo %}&select-modelo={{ selecionados.modelo }}{% endif %}{% if selecionados.loja %}&select-loja={{ selecionados.loja }}{% endif %}" class="page-link">&raquo;</a>
  {% else %}
    <span class="page-link disabled">&raquo;</span>
  {% endif %}
</div>