<section class="about box-formulario">
    <div class="formulario formulario-left left">
        <h1 class="title-form">
            <span class="subtitle-form">Introdução</span>
        </h1>
        <p class="about-text">Está cansado de gastar horas pesquisando e comparando preços de componentes para o seu PC? Apresentamos o (NOME), um projeto inovador que visa facilitar a vida dos consumidores, ajudando-os a encontrar os melhores preços para montar o computador ideal e com o menor preço!</p>
    </div>
    <div class="formulario formulario-right right">
        <h1 class="title-form">
            <span class="subtitle-form">Telegram</span>
        </h1>
        <p class="about-text">Oferecemos grupos no Telegram onde compartilhamos os produtos com os menores preços descobertos, garantindo que você esteja sempre atualizado e aproveitando as melhores ofertas do mercado.
        <br>Sinta-se a vontade de entrar em qualquer um dos nosso grupos:
        <br>
        <br>GRUPO 1
        <br>GRUPO 2
        <br>GRUPO 3
        <br>GRUPO 4
        <br>GRUPO 5
        </p>
        
    </div>
</section>

<section class="about box-formulario">
    <div class="formulario formulario-left left">
        <h1 class="title-form">
            <span class="subtitle-form">Sobre o projeto</span>
        </h1>
        <p class="about-text">O (NOME) é um site inteligente que captura os melhores preços das maiores lojas de informática do Brasil, focando em periféricos essenciais para montar o seu computador. O projeto foi criado inicialmente como um projeto de estudos, com o intuito de desenvolver habilidades em programação e análise de dados. No entanto, percebi o grande potencial que nossa plataforma possui para auxiliar os consumidores na busca pelos melhores preços e ofertas. Por isso, estamos sempre abertos a receber sugestões e colaborações de nossa comunidade para aprimorar e expandir o projeto.
        </p>
    </div>
</section>