{% load custom_filters %}

<div class="filtros_formulario memorias">
  <h3>Filtros</h3>
  <form method='get' action='.'>
    <div class="input-group">
      <label for="select-modelo">
        <h5>Selecione um modelo:</h5>
      </label>
      <select id="select-modelo" name="select-modelo" class="select-menu">
        <optgroup label="Memórias DDR4">
          <option value="2666MHz" {% if selecionados.modelo == '2666MHz' %}selected{% endif %}>Memórias 2666MHz</option>
          <option value="2933MHz" {% if selecionados.modelo == '2933MHz' %}selected{% endif %}>Memórias 2933MHz</option>
          <option value="3000MHz" {% if selecionados.modelo == '3000MHz' %}selected{% endif %}>Memórias 3000MHz</option>
          <option value="3200MHz" {% if selecionados.modelo == '3200MHz' %}selected{% endif %}>Memórias 3200MHz</option>
          <option value="3600MHz" {% if selecionados.modelo == '3600MHz' %}selected{% endif %}>Memórias 3600MHz</option>
          <option value="3733MHz" {% if selecionados.modelo == '3733MHz' %}selected{% endif %}>Memórias 3733MHz</option>
          <option value="4000MHz" {% if selecionados.modelo == '4000MHz' %}selected{% endif %}>Memórias 4000MHz</option>
          <option value="4400MHz" {% if selecionados.modelo == '4400MHz' %}selected{% endif %}>Memórias 4400MHz</option>
          <option value="4600MHz" {% if selecionados.modelo == '4600MHz' %}selected{% endif %}>Memórias 4600MHz</option>
          <option value="4800MHz" {% if selecionados.modelo == '4800MHz' %}selected{% endif %}>Memórias 4800MHz</option>
          <option value="6000MHz" {% if selecionados.modelo == '6000MHz' %}selected{% endif %}>Memórias 6000MHz</option>
        </optgroup>
      </select>
    </div>

    <div class="input-group">
      <label for="select-numero-de-pentes">
        <h5>Quantidade de memória?</h5>
      </label>
      <select id="select-numero-de-pentes" name="select-numero-de-pentes" class="select-menu">
        <option value="8GB" {% if selecionados.numero_de_pentes == '8GB' %}selected{% endif %}>1x 8GB</option>
        <option value="16GB (2x8GB)" {% if selecionados.numero_de_pentes == '16GB (2x8GB)' %}selected{% endif %}>2x 8GB (16GB)</option>
        <option value="32GB (4x8GB)" {% if selecionados.numero_de_pentes == '32GB (4x8GB)' %}selected{% endif %}>4x 8GB (32GB)</option>
        <option value="16GB" {% if selecionados.numero_de_pentes == '16GB' %}selected{% endif %}>1x 16GB</option>
        <option value="32GB (2x16GB)" {% if selecionados.numero_de_pentes == '32GB (2x16GB)' %}selected{% endif %}>2x 16GB (32GB)</option>
        <option value="64GB (4x16GB)" {% if selecionados.numero_de_pentes == '64GB (4x16GB)' %}selected{% endif %}>4x 16GB (64GB)</option>
        <option value="32GB" {% if selecionados.numero_de_pentes == '32GB' %}selected{% endif %}>1x 32GB</option>
        <option value="64GB (2x32GB)" {% if selecionados.numero_de_pentes == '64GB (2x32GB)' %}selected{% endif %}>2x 32GB (64GB)</option>
        <option value="128GB (4x32GB)" {% if selecionados.numero_de_pentes == '128GB (4x32GB)' %}selected{% endif %}>4x 32GB (128GB)</option>        
      </select>
    </div>

    <div class="input-group">
      <label for="select-desktop_ou_note">
        <h5>Para Desktop ou Notebook?</h5>
      </label>
      <select id="select-desktop_ou_note" name="select-desktop_ou_note" class="select-menu">
        <option value="Para Desktop" {% if selecionados.desktop_ou_notebook == 'Para Desktop' %}selected{% endif %}>Para Desktop</option>
        <option value="Para Notebook" {% if selecionados.desktop_ou_notebook == 'Para Notebook' %}selected{% endif %}>Para Notebook</option>
      </select>
    </div>

    <div class="input-group">
      <label for="select-loja">
        <h5>Selecione uma loja:</h5>
      </label>
      <select id="select-loja" name="select-loja" class="select-menu">
        <option value="">Todas as lojas</option>
        <option value="Kabum" {% if selecionados.loja == 'Kabum' %}selected{% endif %}>KabuM</option>
        <option value="Pichau" {% if selecionados.loja == 'Pichau' %}selected{% endif %}>Pichau</option>
      </select>
    </div>

    <br>
    <button type='submit'>Filtrar</button>
  </form>
</div>
    
    <div id="tabela-de-dados"></div>
    <table>
      <thead>
          <tr>
              <th>Marca</th>
              <th>Loja</th>
              <th>Preço</th>
              <th>Valor do preço a prazo</th>
          </tr>
      </thead>
      <tbody>
          {% for resultado in resultados %}
          <tr>
              <td><a href="{{ resultado.url_marca }}" target="_blank">{{ resultado.marca }}</a></td>
              <td>{{ resultado.loja }}</td>
              <td>R${{ resultado.preco|floatformat:2|format_price }}</td>
              <td>R${{ resultado.valor_preco_prazo|floatformat:2|format_price }}</td>        
          </tr>
          {% endfor %}
      </tbody>
    </table>