{% load static %}
<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/images/favicon.png" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'global/css/global-style.css' %}">
    <link rel="stylesheet" href="{% static 'global/js/global-js.js' %}">
    <title>Os melhores preços em - Memórias</title>
</head>

<body>
    <nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/placasdevideo/">Placas de Video</a></li>
    <li><a href="/processadores/">Processadores</a></li>
    <li><a href="/placamae">Placa Mãe</a></li>
    <li><a href="/memoria">Memórias</a></li>
    </ul>
    </nav>